/*.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: auto;
}
.carousel-item {
    text-align: center;
}
.carousel {
    height: 500px; /* Set your desired height 
}*/
